<section class="container">
  <div class="modal">
    <div class="titulo">
      <h1>Editar filme</h1>
    </div>
    <form class="formulario">

      <div class="container_input">
        <img src="https://img.icons8.com/ios-filled/50/000000/cinema---v1.png" class="icons"/>
        <label for="nomeDoFilme"></label>
        <input type="text" placeholder="Nome do filme" name="nomeDoFilme" [(ngModel)]="filme.nomeDoFilme">
      </div>

      <div class="container_input">
        <label></label>
        <img src="https://img.icons8.com/external-others-iconmarket/64/000000/external-clock-essential-others-iconmarket-3.png" class="icons"/>
        <input type="text" placeholder="Duração" name="duracao" [(ngModel)]="filme.duracao">
      </div>

      <div class="container_input">
        <label></label>
        <img src="https://img.icons8.com/ios-glyphs/30/000000/user--v1.png" class="icons"/>
        <input type="text" placeholder="Diretor" name="diretor" [(ngModel)]="filme.diretor">
      </div>

      <div class="container_botoes">
        <button class="botao" routerLink="/filme">Cancelar</button>
        <input type="submit" class="botao" (click)="editarFilme()">
      </div>

    </form>
  </div>
</section>
