<tr class="tabela">
  <td>{{filmes.filmeId}}</td>
  <td>{{filmes.nomeDoFilme}}</td>
  <td>{{filmes.duracao}}</td>
  <td>{{filmes.diretor}}</td>
  <td class="botoes">
    <button class="botao_editar" routerLink="editarFilme/{{filmes.filmeId}}">
      <img src="../../../assets/icone-editar.png" alt="">
      Editar
    </button>
      <button class="botao_excluir" (click)="excluir()">
        <img src="../../../assets/icone-excluir.png" alt="">
        Excluir
      </button>
    </td>
</tr>








